@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Food Lover's Market assessment</h1>
    <iframe height="500" width="1000" src="~/docs/20230505_Food Lovers Market Developer Assessment.pdf"></iframe>
    <h5>Developed by Liso Mbiza</h5>
</div>
