@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Liso Mbiza's assessment</h1>
    <iframe height="500" width="1000" src="~/docs/20230505_Food Lovers Market Developer Assessment.pdf"></iframe>
</div>
