@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Import data files</h1>
    <p>Please use the swagger <a href="https://localhost:44327/swagger/index.html"> to import your files</a>..</p>
</div>


@*<div class="row">
    <div class="col-4">
        <form method="post" asp-action="ImportBranchFile" asp-controller="Import" enctype="multipart/form-data">
            <input type="file" name="FileAttachment" value="Model.FileAttachment" multiple />
            <input type="submit" value="Upload" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label>Product File</label>
            <InputFile OnChange="ImportProductFile" />
        </div>
        <button class="btn btn-success btn-block m-1">Upload</button>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label>Branch Product File</label>
            <InputFile OnChange="ImportBranchProductFile" />
        </div>
        <button class="btn btn-success btn-block m-1">Upload</button>
    </div>
</div>*@